img.icon_user {
  height: 2rem;
  max-height: 2rem;
}

.margin-bottom-4 {
  margin-bottom: 4rem;
}

.show_dropdown_user {
  position: absolute;
  right: 25px;
  margin-top: 10px;
  background-color: var(--biru-tua);
  border-radius: 5px;
  opacity: 1;
  transition: opacity 1s ease;
  display: block;
}

.hide_dropdown_user {
  opacity: 0;
  transition: opacity 1s ease;
  display: none;
}
