<app-mol-card-layout>
    <section class="mt-5">
        <!-- Image -->
        <div id="div_illustration_auth" class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <img src="../../../assets/image/undraw_my_app_re_gxtj.png" alt="img_authentication"
                class="img_authentication">
        </div>

        <!-- Form Sign In -->
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mb-3">
                    <h4 class="text-biru-tua fw-bold">{{ IsFormRegister ? 'Register' : 'Sign In' }} Account</h4>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form [formGroup]="Form">
                        <div class="row">
                            <!-- Nama -->
                            <div *ngIf="IsFormRegister" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3">
                                <label for="string" class="form-label">Nama</label>
                                <input id="string" class="form-control" type="email" formControlName="nama">
                            </div>

                            <!-- Email -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input id="email" class="form-control" type="email" formControlName="email">
                            </div>


                            <!-- Password -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
                                <label for="password" class="form-label">Password</label>
                                <input id="password" class="form-control" type="password" formControlName="password">
                            </div>

                            <!-- Button -->
                            <app-atom-button-biru [ButtonBiruId]="'btnSignIn'" [DisablingButton]="Form.invalid"
                                [ButtonBiruCaption]="IsFormRegister ? 'Register' : 'Sign In'"
                                (HandlingClickButtonBiru)="IsFormRegister ? onRegister(Form.value) :onSignIn(Form.value)">
                            </app-atom-button-biru>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 text-center cursor-pointer"
                                (click)="onTogglingForm()">
                                <p *ngIf="!IsFormRegister" class="text-biru-tua">Didn't Have Account? Register Now</p>
                                <p *ngIf="IsFormRegister" class="text-biru-tua">Already Have Account? Sign In Now</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>
</app-mol-card-layout>