<app-mol-card-layout [BackUrl]="'beranda'">
    <!-- Title dan Button Filter -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3 ps-1">
        <p class="text-abu-tua mb-0">List Invoice Sudah Terbayar
            <span class="float-end text-biru-tua cursor-pointer" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasFilterPencarian" aria-controls="offcanvasFilterPencarian">
                <i class="fas fa-filter fa-sm"></i> Filter
            </span>
        </p>
    </div>

    <!-- List Invoice Sudah Terbayar -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3 px-0 cursor-pointer"
        *ngFor="let item of InvoiceSudahLunas">
        <div class="card border-left-biru-tua shadow-sm">
            <div class="card-body ps-3 pe-0 py-0">
                <div class="row">
                    <div class="col-12 px-0 py-2">
                        <h5 class="mb-1 text-biru-tua fw-bold">
                            {{ item.nama_customer }}
                        </h5>
                        <p class="mb-1 text-kuning">
                            Bulan {{ item.bulan }}
                        </p>
                        <p class="mb-1 text-abu">
                            {{ item.subtotal | currency: 'Rp. ' }}
                        </p>
                        <p class="mb-0 text-abu">
                            {{ item.time_input | date: 'dd MMMM yyyy' }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ** Offcanvas Filter Pencarian -->
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasFilterPencarian"
        aria-labelledby="offcanvasFilterPencarianLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasFilterPencarianLabel">Filter Pencarian</h5>
            <button id="btnCloseOffcanvas" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body small">
            <form [formGroup]="FormFilterPencarian">
                <!-- Nama Customer -->
                <div class="row mb-3">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p class="filter_pencarian mb-1">
                            Nama Customer
                        </p>
                        <ejs-dropdownlist #DropdownCustomer [dataSource]="setupCustomerService.DataCustomer | async"
                            [fields]="DropdownCustomerField" [showClearButton]="true" [allowFiltering]="true"
                            formControlName="id_customer">
                        </ejs-dropdownlist>
                    </div>
                </div>

                <!-- Bulan -->
                <div class="row mb-4">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p class="filter_pencarian mb-1">
                            Bulan
                        </p>
                        <ejs-dropdownlist #DropdownBulan [dataSource]="DropdownBulanDatasource"
                            [fields]="DropdownBulanField" [showClearButton]="true" [allowFiltering]="true"
                            formControlName="id_bulan">
                        </ejs-dropdownlist>
                    </div>
                </div>

                <!-- Button Filter Pencarian -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-grid gap-2">
                        <button class="btn btn-primary btn-sm" type="button"
                            (click)="handleClickButtonFilterPencarian(FormFilterPencarian.value)">
                            Cari
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</app-mol-card-layout>